package {{packageName}}.api.model;
import {{packageName}}.api.BaseModel;
import java.util.ArrayList;
import android.support.annotation.Nullable;

{{#refs}}
import {{packageName}}.api.model.{{{.}}};
{{/refs}}

/**
 * {{doc}}
 */
public class {{name}} extends {{extends}}  {

  {{#properties}}
    /**{{doc}}*/
    {{#nullable}}@Nullable{{/nullable}}
    public {{{type}}} {{name}};
  {{/properties}}
}
