import BaseModel from '../BaseModel'

{{#refs}}
import {{{.}}} from './{{{.}}}';
{{/refs}}

/**
 * {{doc}}
 */
export default class {{name}} extends {{extends}}  {

  {{#properties}}
    /**{{doc}}*/
    public {{name}} = {{{typeValue}}}
  {{/properties}}
}
