//  {{prefix}}{{name}}.h
//  {{doc}}
//  
//
//  Created by Yaotian on 08/12/16.
//  Copyright © 2016 kwm. All rights reserved.
//

@import UIKit;
@import Foundation;

{{#extends}}
#import "{{prefix}}{{extends}}.h"
{{/extends}}

{{#refs}}
  {{#refType}}
@class {{prefix}}{{{.}}};
  {{/refType}}

  {{#genericType}}
@protocol {{prefix}}{{{.}}};
  {{/genericType}}
{{/refs}}

@protocol {{prefix}}{{name}} <NSObject>
@end

@interface {{prefix}}{{name}} : {{prefix}}{{extends}}
  {{#properties}}
/**{{doc}}*/
@property (nonatomic) {{{type}}} {{name}};
  {{/properties}}

@end
