package {{packageName}}.model;
import {{packageName}}.BaseModel;
import java.util.ArrayList;

{{#refs}}
import {{packageName}}.model.{{{.}}};
{{/refs}}

/**
 * {{doc}}
 */
public class {{name}} extends BaseModel  {

  {{#properties}}
    /**{{doc}}*/
    public {{{type}}} {{name}};
  {{/properties}}
}
