//  {{prefix}}{{name}}.h
//  {{doc}}
//  
//
//  Created by Yaotian on 08/12/16.
//  Copyright © 2016 kwm. All rights reserved.
//

#import "KWMBaseModel.h"

{{#refs}}
  {{#refType}}
@class {{prefix}}{{{.}}};
  {{/refType}}

  {{#gencricType}}
@protocol {{prefix}}{{{.}}};
  {{/gencricType}}
{{/refs}}

@protocol {{prefix}}{{name}} <NSObject>
@end

@interface {{prefix}}{{name}} : KWMBaseModel
  {{#properties}}
/**{{doc}}*/
@property (nonatomic) {{{type}}} {{name}};
  {{/properties}}

@end
