package {{packageName}}.api;

{{#refs}}
import {{packageName}}.api.model.{{.}};
{{/refs}}

import retrofit.Callback;
import retrofit.http.Field;
import retrofit.http.FormUrlEncoded;
import retrofit.http.GET;
import retrofit.http.Multipart;
import retrofit.http.POST;
import retrofit.http.Part;
import retrofit.http.Query;
import retrofit.mime.TypedFile;

/**
 * API Retrofit 接口
 */
public interface REST {
    public static final int KWM_PAGE_SIZE                   = {{pageSize}};
    public static final String API_HOST                     = "{{host}}";
    public static final int API_HOST_PORT                   = {{port}};

{{{code}}}

}