package {{packageName}}.api;

{{#refs}}
import {{packageName}}.api.model.{{.}};
{{/refs}}

import java.util.Map;
import okhttp3.RequestBody;
import retrofit2.Callback;
import retrofit2.http.Field;
import retrofit2.http.FormUrlEncoded;
import retrofit2.http.GET;
import retrofit2.http.Multipart;
import retrofit2.http.POST;
import retrofit2.http.Part;
import retrofit2.http.PartMap;
import retrofit2.http.Query;

/**
 * API Retrofit 接口
 */
public interface REST {
    public static final int KWM_PAGE_SIZE                   = {{pageSize}};
    public static final String API_HOST                     = "{{host}}";
    public static final int API_HOST_PORT                   = {{port}};

{{{code}}}

}