import { request, requestList, RequestError } from '../utils/http'
import RequestResult from '../api/RequestResult'
import RequestListResult from '../api/RequestListResult'
import User from '../api/model/User'

export const BASE_URL = "http://wireless.jzxfyun.com:5000/Thingworx/Things/AppHomeServiceThing/Services"
export const HEADER = {
    'appKey': '68c7be5c-73bf-4b98-ba08-2631de0c72f4',
    'Accept': 'application/json',
    'Content-Type': 'application/json',
}

{{{code}}}

